extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .cold-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec tellus at nibh finibus suscipit a et diam. Suspendisse potenti. Proin condimentum non nisi sit amet vehicula. Morbi vel dictum magna, eu auctor dui. In a purus urna. Duis et tempor mauris. Suspendisse tempor faucibus turpis ut hendrerit. Sed sit amet mauris ut turpis maximus maximus aliquam id felis.

                p Praesent volutpat lorem a tellus interdum blandit. Fusce sit amet orci erat. In congue mollis arcu, vitae convallis arcu consectetur in. Proin nec commodo augue, eget porta sapien. Vivamus sagittis neque id diam pretium, eu placerat sem sollicitudin. Donec eleifend mauris nec odio laoreet laoreet. Donec laoreet congue pretium. Ut venenatis eu augue quis accumsan. Morbi pretium vel turpis vitae cursus. Vestibulum in felis vel justo ullamcorper consectetur id vel tellus.

                p Nulla vel ultricies ex, vitae rhoncus nulla. Proin luctus vestibulum nisl eget euismod. Nulla congue enim sit amet libero convallis, vel ultrices nisi tristique. Nunc eu nunc eu nisl blandit vehicula. Integer non imperdiet diam. Nulla viverra odio ac bibendum iaculis. Nulla interdum, libero vel elementum vehicula, orci est egestas nibh, facilisis sodales nibh diam vel odio. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
           .row
            .col-md-4
                img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                h2.mb-4 Seguridad 
                p Integer non imperdiet diam. Nulla viverra odio ac bibendum iaculis. Nulla interdum, libero vel elementum vehicula, orci est egestas nibh, facilisis sodales nibh diam vel odio. 

            .col-md-4
                img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                h2.mb-4 Mejores Destinos 
                p Integer non imperdiet diam. Nulla viverra odio ac bibendum iaculis. Nulla interdum, libero vel elementum vehicula, orci est egestas nibh, facilisis sodales nibh diam vel odio.

            .col-md-4
                img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                h2.mb-4 Los Mejores Precios 
                p Integer non imperdiet diam. Nulla viverra odio ac bibendum iaculis. Nulla interdum, libero vel elementum vehicula, orci est egestas nibh, facilisis sodales nibh diam vel odio. 